@import "./theme.scss";

.margin-left-1rem{
  margin-left: 1rem;;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb {
  background-color: $primary-theme-bg;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .app{
    .slate{
      min-height: 100vh;
      background: $primary-theme-bg;
      padding-top: 5rem;
      position: relative;
      overflow: hidden;
      .modal{
        position: fixed;
        top: 50%;
        height: 80vh; 
        background: white;
        z-index: 10;
        width: 97%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 2px 4px 1px grey;
        padding: 1rem;
        box-sizing: border-box;
        padding-top: 0rem;
        transition: 0.2s;
        overflow: auto;

        &.hide {
          left: 200%;
          // transform: none;
          transition: 0.2s;

        }

        .title{
          color: #464646;
        }
        i {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 5px;
          position: absolute;
          top: 13px;
          right: 7px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
        .close {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

        .theater-list{

          
  
          .title{
            margin: 0;
            padding: 0.5rem 0;
            font-size: 1.5rem;
            color: #9c9c9c;
          }
  
          .theater-item{
            padding: 0.5rem;
            border-bottom: 1px solid #a0a0a0;
            background: #f3f3f3;
            margin-bottom: 0.5rem;
            cursor: pointer;
            transition: 0.1s;
  
            &:hover {
              background: #c0c0c0;
              transition: 0.1s;
            }
          }
  
          
        }

      }
      
    }
  }
}