@import "./theme.scss";

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.movie-list{
  justify-content: center;
  >span{
    text-align: center;
  }
  .movie-list-item{
    width: 150px;
    height: 200px;
    margin: 0.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.43137254901960786);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      transition: 0.2s;

    }
    img{
      // width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;

    }

    .not-available{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .poster-title{
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
      background: rgba(0,0,0,0.6);
      transition: 0.2s;
      letter-spacing: 1px;

    }

    &:hover {
      &::after{
        background: rgba(0, 0, 0, 0.2);;
        transition: 0.2s;
      }

      .poster-title{
        background: rgba(0,0,0,0.8);
        transition: 0.2s;

      }
    }
  }
}