@import "./theme.scss";

.seat-container{
  .seat-row-title, .seat{
      text-align: center;
  }

  .seat{
      &.available{
        cursor: pointer;
      }
      &.reserved{
        background: black;
        color: white;
        cursor: not-allowed;
      }
      &.selected{
        background: green;
        color: white;
        cursor: pointer;

      }
  }
}