@import "./theme.scss";
.topbar{
  background: $primary-bg-color;
  padding: 1rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .brand{
    .brand-image{
      width: 27px;
      display: inline-block;
      vertical-align: middle;
      svg{
        path{
          fill: white;
        }
      }
    }

    .brand-label{
      vertical-align: sub;
      margin-left: 0.5rem;
      .red-bg-text{
        padding: 0.1rem 0.2rem 0.2rem 0.2rem;
        background: red;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #333545;
      }
    }
  }

  .search-box{
    width: calc(100% - 0.5rem);
    border: 0;
    border-radius: 3px;
    height: 100%;
    padding: 0;
    padding-left: 0.5rem;
    max-width: 500px;
    color: black;

    &::placeholder{
      color: #CCCCCC;;
    }
  }
}


@media (min-width: 768px) {
  .topbar{
    padding: 1rem 2.5rem;
    .brand{
      .brand-image{
        svg{
          path{
          }
        }
      }
  
      .brand-label{
        .red-bg-text{
        }
      }
    }
  
    .search-box{
      &::placeholder{
      }
    }
  }
}